@import "tailwindcss";
@import "./globals.css";

:root {
    --hue: 333;
}

html, body {
    background-color: var(--bg-surface);
    color: white;
}

.app {
    min-height: 100vh;
    position: absolute;
    inset: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}